{% extends 'base.html' %}
    <title>{% block title %}Products | {{block.super}}{%endblock title %}</title>

{% block body %}
{% block function1 %}
{% endblock function1 %}
<div class="container" id="product-list">
    <h1>Products</h1>
    <hr>
    {% for p in products %}
    <div class="p" product="{{p.id}}">
        <h2>{{p.name}}</h2>
        <p>{{p.description}}</p>
        {% block function2 %}
        <button class="add-order" user="{{user.pk}}">Add to Cart!</button>
        {% endblock function2 %}
    </div>
    {% endfor %}
</div>
{% endblock body %}
